[submodule "third_party/fp16/src"]
	path = third_party/fp16/src
	url = https://chromium.googlesource.com/external/github.com/Maratyszcza/FP16.git
	shallow = true
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://chromium.googlesource.com/chromium/src/third_party/zlib
	shallow = true
[submodule "third_party/markupsafe"]
	path = third_party/markupsafe
	url = https://chromium.googlesource.com/chromium/src/third_party/markupsafe
	shallow = true
[submodule "third_party/jinja2"]
	path = third_party/jinja2
	url = https://chromium.googlesource.com/chromium/src/third_party/jinja2
	shallow = true
[submodule "third_party/icu"]
	path = third_party/icu
	url = https://chromium.googlesource.com/chromium/deps/icu
	shallow = true
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://chromium.googlesource.com/chromium/src/third_party/abseil-cpp
	shallow = true
[submodule "third_party/fast_float/src"]
	path = third_party/fast_float/src
	url = https://chromium.googlesource.com/external/github.com/fastfloat/fast_float
