/node_files.json
/*.zip

/node
/out/
/third_party/gn/
/third_party/icu/
/third_party/jinja2/
/third_party/markupsafe/
/third_party/zlib/

.DS_Store
.tags*
*.xcodeproj
*.swp
*.pyc
debug.log
npm-debug.log
