/*.zip
/debug.log
/npm-debug.log
/out/

/node/
/third_party/abseil-cpp/
/third_party/build-tools/
/third_party/gn/
/third_party/icu/
/third_party/jinja2/
/third_party/markupsafe/
/third_party/zlib/

.DS_Store
.tags*
*.swp
*.pyc
